{
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": false,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "parser": "babel"
      }
    },
    {"files": "*.scss",
      "options": {
        "parser": "css"
      }
    }
  ]
}
