@media (max-width: 480px) {
    .hide-low {
        display: none !important;
    }
    .show-low {
        display: block !important;
    }
    section .active,
    li .active {
        background-color: rgba(100, 100, 100, 0.1) !important;
    }
    .panel-header-actions > .btn,
    .panel-header-actions .panel-drag-handle {
        border-color: var(--border-mid) !important;
    }

    .panel-header-actions .btn-screen {
        border: 1px solid var(--border-mid) !important;
        color: var(--txt-mid) !important;
    }
}
