@media (max-width: 480px) {
  .hide-low {
    display: none !important;
  }
  .show-low {
    display: block !important;
  }
  section .active,
  li .active {
    background-color: rgba(100, 100, 100, 0.1) !important;
  }
  .btn-header,
  .btn-close {
    color: white !important;
    background-color: blue !important;
  }
}
