.panel-dashboard,
.panel-interface,
.panel-features {
  min-height: 300px;
}

.macro-buttons-panel {
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: stretch;
}

.panel-body-dashboard,
.panel-body-interface,
.panel-body-features {
  @media (min-width: $size-sm) {
    max-height: 400px;
  }
  display: flex;
  flex-flow: column;
}
.panel .navbar,
.panel .navbar-section {
  background: #f1f1fc;
  color: #5755d9;
}

.panel-item {
  flex: 0 1 auto;
}

.column {
  .panel {
    height: 100%;
    box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.05);
  }
}
