.espbanner {
    width: 150px;
    height: 150px;
    top: -10px;
    right: -10px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.espbanner span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    font: 700 18px/1 "Lato", sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    pointer-events: auto;
    cursor: pointer;
}

.espbanner span:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

@include media-breakpoint-down(xs) {
    .espbanner {
        width: 90px;
        height: 90px;
    }
    .espbanner span {
        left: -55px;
        top: 15px;
        font: 300 10px/1 "Lato", sans-serif;
    }
}
