$warning-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23e0a800' d=' M 7.927 6.842 L 4.279 0.76 C 4.106 0.502 3.881 0.595 3.733 0.817 L 3.733 0.817 L 0.084 6.825 C -0.046 7.033 -0.003 7.41 0.311 7.41 L 0.311 7.41 L 7.683 7.41 C 7.984 7.41 8.07 7.059 7.927 6.842 L 7.927 6.842 Z  M 6.535 6.273 L 4.574 6.273 L 4.574 5.847 C 4.574 5.771 4.508 5.705 4.432 5.705 L 4.432 5.705 L 3.579 5.705 C 3.499 5.705 3.437 5.767 3.437 5.847 L 3.437 5.847 L 3.437 6.273 L 1.448 6.273 L 4.006 2.164 L 6.535 6.273 Z  M 4.597 3.432 L 3.415 3.432 C 3.263 3.432 3.157 3.561 3.187 3.71 L 3.187 3.71 L 3.517 5.142 C 3.547 5.294 3.697 5.421 3.852 5.421 L 3.852 5.421 L 4.159 5.421 C 4.31 5.421 4.465 5.29 4.495 5.142 L 4.495 5.142 L 4.824 3.71 C 4.854 3.561 4.749 3.432 4.597 3.432 L 4.597 3.432 Z'/%3e%3c/svg%3e");

.is-changed:focus {
    box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.25) !important;
}

.bg-default {
    background-color: #e9ecef !important;
}

.border-blue {
    border-color: #337ab7 !important;
}

.border-default {
    border-color: #e9ecef !important;
}

.text-blue {
    color: #337ab7 !important;
}

.text-default {
    color: #e9ecef !important;
}

.bg-blue {
    background-color: #337ab7 !important;
}

.wizardPill {
    width: 3rem;
    height: 3rem;
    cursor: default !important;
    padding-left: 0.72rem;
    padding-top: 0.5rem;
}

.underlaywindow {
    float: left;
    clear: both;
    width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 0 0;
    border: none;
    z-index: 0;
}

.overlaywindow {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 1;
}

.btn-default {
    color: #495057;
    background-color: #e9ecef;
    border-color: #ced4da;
}
.control-padding {
    padding: 0.375rem 0.75rem !important;
}
.padding-low {
    padding: 0.25rem !important;
}

.btn-default:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #aaaaaa;
}

.btn-default:focus,
.btn-default.focus {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #aaaaaa;
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-default.disabled,
.btn-default:disabled {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #aaaaaa;
}

.btn-default:not(:disabled):not(.disabled):active,
.btn-default:not(:disabled):not(.disabled).active,
.show > .btn-default.dropdown-toggle {
    color: #212529;
    background-color: #dae0e5;
    border-color: #cccccc;
}

.btn-default:not(:disabled):not(.disabled):active:focus,
.btn-default:not(:disabled):not(.disabled).active:focus,
.show > .btn-default.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

/* Customize the label (the container) */
.checkbox-control {
    display: block;
    position: relative;
    padding: 0px 0px 0px 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.control-like {
    padding-top: 5px !important;
    padding-bottom: 0px !important;
}

.no_wrap {
    white-space: nowrap !important;
}

/* Hide the browser's default checkbox */
.checkbox-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.overlay {
}

.overlay:hover {
    box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.1);
}

.overlay:active {
    box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.3);
}

.hotspotControl,
.hotspotNotification,
.hotspot {
    cursor: pointer;
}
.hotspotControl:hover {
    border-radius: 0.25rem;
    background-color: #92c7ff;
}

.hotspotNotification:hover {
    border-radius: 0.25rem;
    background-color: #00c2ff;
}
.hotspot:hover {
    background-color: #efefef;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5em;
    width: 1.5em;
    background-color: #eee;
    border-radius: 0.25rem;
    border: solid 1px #ced4da;
}

.locker .checkmark {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='1.4em' height='1.4em' viewBox='0 0 24 24' fill='none'%20stroke='white'%20stroke-width='2'%20stroke-linecap='round'%20stroke-linejoin='round'%3E%3Crect%20x='3'%20y='11'%20width='18'%20height='11'%20rx='2'%20ry='2'%3E%3C/rect%3E%3Cpath%20d='M7%2011V7a5%205%200%200%201%2010%200v4'%3E%3C/path%3E  %3c/svg%3e");
}

.no-pointer {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-control.is-changed .checkmark {
    background-color: #e0a800 !important;
    border-color: #e0a800 !important;
}
.text-button {
    padding-left: 10px;
    padding-right: 5px;
}

.text-button-setting {
    padding-left: 3px;
    padding-right: 3px;
}

.text-button-pill {
    padding-left: 8px;
    padding-right: 5px;
}
.checkbox-control.is-valid .checkmark {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

/* On mouse-over, add a grey background color */
.checkbox-control:hover input ~ .checkmark {
    background-color: #ccc;
    border-color: #aaaaaa;
}

/* When the checkbox is checked, add a blue background */
.checkbox-control input:checked ~ .checkmark {
    background-color: #2196f3;
}

.checkbox-control.is-changed input:checked ~ .checkmark {
    background-color: #e0a800 !important;
    border-color: #e0a800 !important;
}

.checkbox-control.is-valid input:checked ~ .checkmark {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-control input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-control .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Style the checkmark/indicator */
.locker .checkmark:after {
    display: none !important;
}

.input-group-text.error {
    color: #fff !important;
    background-color: #dc3545 !important;
}

.input-group-text.success {
    color: #fff;
    background-color: #28a745;
}
.checkbox-control.is-changed,
.form-control.is-changed {
    padding-right: calc(1.5em + 0.75rem);
    border-color: #e0a800 !important;
    background-image: $warning-icon !important;
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.checkbox-control.is-valid {
    border-color: #28a745;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.custom-select.is-changed {
    border-color: #e0a800 !important;
    padding-right: calc(1.5em + 0.75rem);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
            no-repeat right 0.75rem center/8px 10px,
        $warning-icon #fff no-repeat center right 1.75rem /
            calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important ;
}

.list-left {
    display: inline-block;
    text-align: left;
}

.controlSpacer {
    height: 0.3rem;
}

.customscroll {
    scrollbar-color: #007bff #e9ecef;
    scrollbar-width: auto;
}
.customscroll::-webkit-scrollbar {
    width: 20px;
}

.customscroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background: #e9ecef;
}

.customscroll::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 10px;
}

.customscroll::-webkit-scrollbar-thumb:hover {
    background: #004999;
}

.link-text,
.link-text:hover,
.link-text:focus {
    text-decoration: none;
    color: #000000;
}
.hide-low {
    display: inline-block;
}
.show-inline-low,
.show-low {
    display: none;
}

.W4 {
    width: 4em !important;
}

.W15 {
    min-width: 4em !important;
}

.terminalWindow {
    overflow: auto;
    word-wrap: break-word;
    word-break: break-all;
}

.red-hover {
}

.red-hover:hover {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.rotate-90 {
    -webkit-transform: rotate(0.25turn);
    -moz-transform: rotate(0.25turn);
    transform: rotate(0.25turn);
}

.filespanel {
}
.panellist,
.macrolist {
    overflow-y: auto;
    max-height: 21rem;
}
.panelCard {
    min-height: auto;
}

@include media-breakpoint-up(xs) {
    .tshow-low {
        display: none !important;
    }
    .thide-low {
        display: inline-row !important;
    }
    .autoWidth {
        width: 20em;
    }
    .show-inline-low,
    .show-low {
        display: none !important;
    }
    .terminalWindow {
        max-height: 360px;
        min-height: 360px;
        max-width: 50rem;
    }
    .panelCard {
        max-width: 34rem;
        min-height: 29rem;
    }
    .filespanel {
        min-height: 21rem;
        max-height: 21rem;
    }
}

@include media-breakpoint-only(xs) {
    .thide-low,
    .hide-low {
        display: none !important;
    }
    .show-low,
    .tshow-low {
        display: block !important;
    }
    .show-inline-low {
        display: inline-block !important;
    }
    .card-low {
        padding: 0.25rem !important;
    }
    .card-noborder-low {
        border: 1px solid transparent !important;
    }
    .autoWidth {
        width: auto;
    }
    .fontsetting {
        font-size: 0.7rem !important;
    }
    .terminalWindow {
        max-height: 200px;
        min-height: 200px;
    }
    .filespanel {
        min-height: 15rem;
        max-height: 15rem;
    }
    .panelCard {
        min-height: auto;
    }
}

@media (max-height: 575.98px) {
    .thide-low,
    .hide-low {
        display: none !important;
    }
    .show-low,
    .tshow-low {
        display: block !important;
    }
    .show-inline-low {
        display: inline-block !important;
    }
    .card-low {
        padding: 0.25rem !important;
    }
    .card-noborder-low {
        border: 1px solid transparent !important;
    }
    .autoWidth {
        width: auto;
    }
    .fontsetting {
        font-size: 0.7rem !important;
    }
    .terminalWindow {
        max-height: 200px;
        min-height: 200px;
    }
    .filespanel {
        min-height: 15rem;
        max-height: 15rem;
    }
    .panelCard {
        min-height: auto;
    }
}
