.nav-item {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    min-width: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    text-decoration: none;
    color: #eee;
    will-change: background-color;

    &.active {
        border-bottom: solid 3px orange;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    &:hover,
    &:active,
    &:focus {
        background: rgba(255, 255, 255, 0.3);
    }
}

.pill-link {
    cursor: pointer;
    background: rgba(255, 255, 255, 1);
    color: #000;
    border: solid 1px #c0c0c0;

    &.active {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    &:hover,
    &:active,
    &:focus {
        background: rgba(0, 0, 0, 0.05) !important;
        color: #000 !important;
    }
    &.active:hover {
        background: rgba(0, 98, 204, 1) !important;
        color: #fff !important;
    }
}

.espheader {
    padding: 0;
    background: #673ab7;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by any browser but < IE9 */
}

.espcontainer {
    position: relative;
}
