.espnotification {
    top: 50px;
    z-index: 1000;
    width: 100%;
    padding: 0;
    background: #fff4c9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.textNotification {
    color: #000;
    font: 700 16px/1 "Lato", sans-serif;
}
