.zeroLabel{
font-size: 1.1rem;
  font-weight: 600;
  margin: 0 !important;
  padding: 0!important;
}

.axisLabel{
  font-size: 0.8em;
  font-weight: 600;
}

.jogbtn{
    width:3rem;
    height:3rem;
}
