@import "functions";
@import "vars";
@import "bootstrap";
@import "components/navbar";
@import "components/modaldlg";
@import "components/controls";
@import "components/banner";
@import "components/notification";

body {
    overflow-x: hidden;
    font-size: 1rem;
    height: 100%;
}

html,
.full-height {
    height: 100%;
}
