.file-list {
  .tile {
    &:hover {
      background: $secondary-color;

      &.folder {
        cursor: pointer;
      }
    }

    .tile-content {
      .tile-subtitle {
        line-height: $line-height * 0.8;
      }
    }
  }
}

.upload-wrapper {
  .drag-drop-zone {
    border: 2px dashed $gray-color;
    border-radius: $border-radius;
    height: 5rem;
    background-color: $gray-color-light;
    color: $primary-color;
    text-align: center;
    line-height: 5rem;

    &.active {
      color: $primary-color-dark;
      border: 2px dashed $primary-color;
      background-color: $secondary-color;
    }
  }

  .file-input {
    visibility: hidden;
  }

  .content {
    padding: 10px;
    vertical-align: middle;
    display: inline-block;
    line-height: 1.2;
    text-align: center;
  }

  .upload-list {
  }
}

#terminal {
  min-height: 20em;
  max-height: 20em;
  margin-bottom: $unit-3;
  // border: $border-width solid $dark-color;
  border-radius: $border-radius;
  color: $gray-color;
  background-color: $dark-color;
  display: block;
  padding: $control-padding-y $control-padding-x;
  font-family: $mono-font-family;
  font-size: $font-size-sm;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;

  pre {
    margin: 0;
  }

  // font-weight: 300;
  code {
    margin: 0em;
    display: block;
    font-size: 2vw;

    &.stdout {
      &:before {
        content: "\25BE";
        margin: 0px $control-padding-x 0px 0px;
      }
    }

    &.stdin {
      &:before {
        color: #2d98da;
        content: "\25B4";
        margin: 0px $control-padding-x 0px 0px;
      }
    }

    &.info {
      background-color: #f7b731;
      color: #ffffff;

      &:before {
        content: "\25B8";
        margin: 0px $control-padding-x 0px 0px;
      }
    }
  }
}
