#main-container {
    padding: 1em;

    @media (max-width: $size-sm) {
        padding: 0em;
    }
}

.navbar {
    padding: 1em;
    background-color: $bg-color-dark;
}

.tab {
    .tab-item {
        .btn {
            border-radius: 0;
        }
    }
}

.file-list {
    .tile {
        &:hover {
            background: $secondary-color;

            &.folder {
                cursor: pointer;
            }
        }

        .tile-content {
            .tile-subtitle {
                line-height: $line-height * 0.8;
            }
        }
    }
}

#dashboard {
    .panel {
        margin-bottom: 1em;
        // min-height: 5rem;
        // max-height: 60vh;

        @media (max-width: $size-lg) {
            // max-height: 100vh;
        }

        .actions {
            flex: 1 1 auto;
            overflow-y: auto;
            padding: 0 $layout-spacing-lg;
        }
    }
}

.column {
    .panel {
        height: 100%;
        box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.05);
    }
}

.upload-wrapper {
    .drag-drop-zone {
        border: 2px dashed $gray-color;
        border-radius: $border-radius;
        height: 5rem;
        background-color: $gray-color-light;
        color: $primary-color;
        text-align: center;
        line-height: 5rem;

        &.active {
            color: $primary-color-dark;
            border: 2px dashed $primary-color;
            background-color: $secondary-color;
        }
    }

    .file-input {
        visibility: hidden;
    }

    .content {
        padding: 10px;
        vertical-align: middle;
        display: inline-block;
        line-height: 1.2;
        text-align: center;
    }

    .upload-list {}
}

.panel-dropdown {
    color: $gray-color-dark;
    float: right;
    font-weight: normal;
    font-size: $font-size;
}

.menu-item {
    margin-top: 0;
    padding: 0 $unit-2;
    position: relative;
    text-decoration: none;

    &>.btn {
        border-radius: $border-radius;
        color: inherit;
        display: block;
        padding: $unit-1 $unit-2;
        text-decoration: none;

        &:focus,
        &:hover {
            background: $secondary-color;
            color: $primary-color;
        }
    }
}

.toasts-container {
    position: fixed;
    z-index: 1000;
    right: 0.5rem;
    top: 0.5rem;

    >.toast {
        margin: 0.2rem 0;
    }
}

#featuresSettingsPanel {
    h3 {
        color: $primary-color;
        text-transform: capitalize;
        font-weight: 400;
        margin-top: 1.5em;
    }

    .panel {
        height: 100%;

        .panel-title {
            h4 {
                text-transform: capitalize;
                // font-size: 5em;
            }
        }

        .panel-body {
            padding: 0.4rem 0.8rem;
        }
    }
}

#terminal {
    min-height: 20em;
    max-height: 20em;
    margin-bottom: $unit-3;
    // border: $border-width solid $dark-color;
    border-radius: $border-radius;
    color: $gray-color;
    background-color: $dark-color;
    display: block;
    padding: $control-padding-y $control-padding-x;
    font-family: $mono-font-family;
    font-size: $font-size-sm;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;

    pre {
        margin: 0;
    }

    // font-weight: 300;
    code {
        margin: 0em;
        display: block;
        font-size: 2vw;

        &.stdout {
            &:before {
                content: "\25BE";
                margin: 0px $control-padding-x 0px 0px;
            }
        }

        &.stdin {
            &:before {
                color: #2d98da;
                content: "\25B4";
                margin: 0px $control-padding-x 0px 0px;
            }
        }

        &.info {
            background-color: #f7b731;
            color: #ffffff;

            &:before {
                content: "\25B8";
                margin: 0px $control-padding-x 0px 0px;
            }
        }
    }
}