.navbar {
    padding: 1em;
    background-color: $bg-color-dark;
}

#dashboard {
    .panel {
        margin-bottom: 1em;
    }
}

.toaster-container {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;

    >.toast {
        margin: 0.2rem 0;
    }
}