#main-container {
    padding: 1em;
}

.navbar {
    padding: 1em;
    background-color: $bg-color-dark;
}

#dashboard {
    .panel {
        margin-bottom: 1em;
    }
}

.toaster-container {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;

    >.toast {
        margin: 0.2rem 0;
    }
}

#featuresSettingsPanel {
    .panel {
        height: 100%;

        .panel-body {
            padding: 0.4rem 0.8rem;
        }
    }
}