text.jog {
    font-weight: 900;
    font-size: 11px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

text.home {
    font-weight: 600;
    font-size: 16px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
text.scl {
    stroke: white;
    fill: white;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
circle.scl {
    fill: black;
    fill-opacity: 0.5;
    stroke: red;
    stroke-width: 3;
    filter: url(#f1);
    pointer-events: none;
}

path.home {
    stroke: black;
}

path.std {
    stroke: black;
    stroke-width: 1;
    filter: url(#f1);
}

.pressedbutton {
    fill: #ff7c26;
    stroke: black;
    stroke-width: 1;
    cursor: pointer;
}

rect.std {
    stroke: black;
    stroke-width: 1;
    filter: url(#f1);
}
rect.std:hover {
    fill: orange;
    cursor: pointer;
}

path.std:hover {
    fill: orange;
    cursor: pointer;
}

.slidecontainer {
    display: block;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb:hover {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0069d9;
    cursor: pointer;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5) !important;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}

.slider-control {
    width: 200px;
    padding-top: 0.5rem;
}
