					
			label {
				display: block;
				float: left;
				width: 100px;
			}
			.content {
				-moz-border-radius: 6px; 
				border-radius: 6px; 
				-webkit-box-shadow: 0 8px 6px -6px #ACA4A4; 
				-moz-box-shadow: 0 8px 6px -6px #ACA4A4;
				box-shadow: 0 8px 6px -6px #ACA4A4; 
				float:left;
				background:#FFFFFF; 
				width:100%; 
				color:#000000; 
				padding:0px; 
				margin-left: 5px; 
				margin-right: 0px; 
				margin-bottom:15px;
			}
			
						
			button {				
				border-radius: 3px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				-o-border-radius: 3px;
				padding: 8px;
				font-size: 12px;
				cursor:pointer;
			}
			
			#deletebutton{
				background-color:#ffcaca;
			}
			
			#greenbutton{
				background-color:#b8f5b8;
			}
			
			input, select, textarea {
				background: -moz-linear-gradient(top, #FCFCFC, rgba(230, 230, 230, 0));
				background: -webkit-linear-gradient(top, #FCFCFC, rgba(230, 230, 230, 0));
				background: -o-linear-gradient(top, #FCFCFC, rgba(230, 230, 230, 0));
				background: -ms-linear-gradient(top, #FCFCFC, rgba(230, 230, 230, 0));
				box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
				-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
				-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
				-o-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
				border-radius: 3px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				-o-border-radius: 3px;
				padding: 8px;
				font-size: 12px;
				cursor:pointer;
			}
			
			textarea {
				width:99%;			 
				border:none;
			}
			
			.textnote{
				min-height:130px;
			}
			
			
			ul {
				list-style-image:url(notiz-small.PNG);
			}
			
			.notizeintrag {
				float:left;
				-moz-border-radius: 6px; 
				border-radius: 6px; 
				-webkit-box-shadow: 0 8px 6px -6px #ACA4A4;	
				-moz-box-shadow: 0 8px 6px -6px #ACA4A4; 
				box-shadow: 0 8px 6px -6px #ACA4A4; 
				background:#FFFFFF; 
				width: 32.0%;
				margin-left: 5px; 
				margin-right: 10px; 
				margin-bottom:10px;			
			}
						
			.notizheader {				
				border-bottom: 2px dotted #aca4a4;
				width:40%; 
				margin: 0 auto;	
				color:#000000; 
				padding:20px 20px 10px 20px;
				text-align:center;	
				font-weight: bold;				
				overflow:hidden;
			}
			
			.notiz {
				float:left;
				color:#000000; 
				padding:8px 8px 20px 0px;
				width:75%;		
				overflow:hidden;				
			}
			
			.img{
				float:left;
				width:20px;
				height:100% !important;
				padding:9px 0 0 8px;
			}
			
			#drop{
				min-height: 50px; 
				width: 150px; 
				border: 1px dotted #ececec; 
				margin: 10px 0 10px 10px; 
				padding: 10px; 
				float:right;
			}			

	