.dropbtn {
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    border-color: #000000;
}

.dropdownselect {
    position: relative;
    display: inline-block;
    border-color: #000000;
}

.dropmenu-content,
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #dddddd;
    padding-top: 4px;
    padding-bottom: 4px;
}

.dropmenu-content a,
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropmenu-content a:hover,
.dropdown-content a:hover {
    background-color: #e1e1e1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e1e1e1;
}

.menu-title {
    padding: 5px 10px;
    font-size: 12px;
}

.menu-divider {
    height: 1px;
    margin: 2px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropmenu-content-up {
    bottom: 3em;
    left: 0em
}

.dropmenu-content-down {
    top: 3em;
    left: 0em
}

@media (min-width: 768px) {
    .dropdown-content {
        top: 3em;
        right: 1em;
    }
}

@media screen and (max-width: 767px) {
    .dropdown-content {
        top: 3em;
        left: 1.2em;
    }
}