
body {
    font-family: "Arial", sans-serif; 
    font-size:14px;
}

.hide_it {
    display: none;
}

.warningmsg {
color:white;
}

.warningmsg:hover {
color:red;
}
.no_margin {
    margin: 0 !important;
    line-height: 0;
}

.noshowonlowres {
display: inline-block;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

.loader_centered {
    background-color: white;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


@-webkit-keyframes pulse {
  50% {
    background: red;
  }
}
@keyframes pulse {
  50% {
    background: red;
  }
}
    
.loader-pulse {
  position: relative;
  width: 0.25em;
  height: 1em;
  background: rgba(255, 0, 0, 0.2);
  -webkit-animation: pulse 750ms infinite;
          animation: pulse 750ms infinite;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
.loader-pulse:before, .loader-pulse:after {
  content: '';
  position: absolute;
  display: block;
  height: 0.66em;
  width: 0.25em;
  background: rgba(255, 0, 0, 0.2);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: pulse 750ms infinite;
          animation: pulse 750ms infinite;
}
.loader-pulse:before {
  left: -0.5em;
}
.loader-pulse:after {
  left: 0.5em;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.panel-height {
    min-height: 370px;
}

.panel-max-height{
    max-height: 370px;
}

.panel-height-temp {
    min-height: 405px;
}

.panel-footer-height {
    min-height:4em;
}

.panel-scroll {
    overflow-y: scroll;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@-webkit-keyframes pulse {
  50% {
    background: red;
  }
}
@keyframes pulse {
  50% {
    background: red;
  }
}

.list-group-hover:hover {
    background-color: #f5f5f5;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr td,
.table-borderless thead tr th,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}

input[type="file"]::-webkit-file-upload-button{display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;-ms-touch-action:manipulation;  touch-action:manipulation;cursor:pointer;
background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:4px;
* -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;  color: #ffffff;background-color: #5bc0de;border-color: #46b8da;}
input[type="file"]::-webkit-file-upload-button:focus{display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;-ms-touch-action:manipulation;  touch-action:manipulation;cursor:pointer;
background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:4px;
* -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none; color: #ffffff;background-color: #31b0d5;border-color: #1b6d85;}
input[type="file"]::-webkit-file-upload-button:hover{display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;-ms-touch-action:manipulation;  touch-action:manipulation;cursor:pointer;
background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:4px;
* -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none; color: #ffffff;background-color: #31b0d5;border-color: #269abc;}

.panel-footer1{padding:10px 15px;color:#31708f;background-color:#f5f5f5;border-color:#dddddd;border-top:1px solid #dddddd;}

.w4 {
width:4em;
}
.w5 {
width:5em;
}
.w6 {
width:6em;
}

.w50 {
width:50em;
}

@media (max-width: 360px) {
.container-fluid{
  min-width:350px;
  margin-left: -10px;
  margin-right: -10px;
}
.panel{
margin-left: -17px;
margin-right: -13px;
}
.pull-left,
.pull-right 
{
float: unset!important;
}
.noshowonlowres {
display: none;
}
}
@media (min-width: 361px) and (max-width: 640px) {
.container-fluid{
  min-width:350px;
  margin-left: -10px;
  margin-right: -10px;
}
.panel{
margin-left: -17px;
margin-right: -13px;
}
.noshowonlowres {
display: none;
}
}
@media (min-width: 641px) and (max-width: 840px) {
.container-fluid{
  min-width:350px;
}

}

